body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --gray0: #EBE9ED;
  --gray1: #C3BCC8;
  --gray2: #A59AAC;
  --gray3: #877891;
  --gray4: #685C70;
  --gray5: #49404F;
  --gray6: #342E38;
  --gray7: #1F1C22;
  --gray-dim: rgba(135, 120, 145, 0.2);
  --blue1: #4B7CDA;
  --speed: 250ms;
}

.light {
  --bg: var(--gray1);
  --fg: var(--gray0);
  --fg-dim: var(--gray-dim);
  --titles: var(--blue1);
  --subtitle: var(--gray4);
  --icons: var(--gray4);
  --bg-nav: var(--gray6);
  --text-nav: var(--gray0);
  --shadow-nav1: var(--gray5);
  --shadow-nav2: var(--gray4);
  --text: var(--gray7);
  --hr: var(--gray1);
  --btn-bg: var(--gray4);
  --btn-text: var(--gray0);
  --input-active-border: var(--blue1);
  --input-invalid-border: rgb(255, 54, 87, 0.6);
}

.dark {
  --bg: var(--gray4);
  --fg: var(--gray5);
  --fg-dim: var(--gray-dim);
  --titles: var(--gray0);
  --subtitle: var(--gray1);
  --icons: var(--gray1);
  --bg-nav: var(--gray6);
  --text-nav: var(--gray0);
  --shadow-nav1: var(--gray5);
  --shadow-nav2: var(--gray4);
  --text: var(--gray0);
  --hr: var(--gray4);
  --btn-bg: var(--gray1);
  --btn-text: var(--gray6);
  --input-active-border: var(--blue1);
  --input-invalid-border: rgb(255, 54, 87, 0.6);
}

main {
  min-height: 100vh;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
}

.container {
  min-width: 500px;
  width: 80rem;
  background-color: var(--fg);
}

.header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}

.header-titles {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.header-title {
  font-size: 3rem;
  color: var(--titles);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-subtitle {
  font-size: 1rem;
  color: var(--subtitle);
}

.header-actions {
  margin: 2rem;
}

.header-actions-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-actions-icon svg {
  height: 3rem !important;
  width: 3rem !important;
  fill: var(--icons);
}

.navbar {
  z-index: 1;
  position: fixed;
  color: var(--text-nav);
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  height: 3rem;
  width: 3rem;
  margin: 1rem 0;
  border-radius: 50%;
  background-color: var(--shadow-nav1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 200ms ease;
}

.nav-item:hover {
  background-color: var(--shadow-nav2);
}

.nav-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link svg {
  fill: var(--text-nav);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  filter: opacity(0.7);
  transition: all 200ms ease;
}

.nav-link:hover svg {
  filter: opacity(1);
}

.container-sm {
  background-color: var(--fg);
  margin: auto;
  transform: translateX(-5rem);
  width: 25rem;
  height: 32rem;
  padding: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}

.ver-margin {
  margin: 2rem 0;
}

.stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.btn {
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  margin: 1rem;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-row {
  margin: 1rem 0 !important;
  width: 100% !important;
}

.btn-prime {
  background-color: var(--btn-bg);
  color: var(--btn-text);
}

.btn-second {
  border: 3px solid var(--btn-bg);
  background-color: transparent;
  color: var(--text);
}

.btn-disabled {
  filter: opacity(0.4) grayscale(20%)
}

.btn-disabled:hover {
  cursor: default !important;
  text-decoration: none !important;
}

.textinput-container {
  font-size: 1rem;
}

.textinput-errors {
  list-style: disc;
  padding-left: 2rem;
}

.textinput-error {
  font-size: 0.6em;
  color: rgb(255, 54, 87, 1);
}

.input {
  border: none;
  padding-left: 0.5rem;
  border-bottom: 2px solid var(--gray-dim);
  color: var(--text);
  background-color: transparent;
  font-size: 1em;
  margin: 0.5rem;
}

.input-lg {
  font-size: 1.5rem !important;
}

.input:focus {
  outline: none;
  border: 0;
  border-bottom: 2px solid var(--input-active-border);
  transition: border 200ms ease;
}

.input-invalid {
  border-bottom: 2px solid var(--input-invalid-border) !important;
  transition: border 200ms ease;
}

.padding-2 {
  padding: 2rem;
}

.padding {
  padding: 1rem;
}

.padding-h {
  padding: 0 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.indent {
  padding-left: 1rem;
}

.num-input {
  width: 3rem;
}

.num-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.5rem;
}

.num-input-subtitle {
  color: var(--gray3);
}

.setting-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.setting-title {
  color: var(--text);
  font-size: 1.25rem;
  align-self: flex-end;
  padding: 0 1rem;
}

.setting-input {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
}

.zone-input-container, .section-input-container {
  margin: 1rem;
  border: 1px solid var(--hr);
}

.btn-icon {
  display: flex;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3rem !important;
  height: 3rem !important;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  color: var(--titles);
}

.icon svg {
  fill: var(--icons)
}

.float-r {
  float: right;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row-container {
  transition: all var(--speed) ease-in-out;
  overflow: hidden;
}

.row-container>hr {
  border: 0;
  margin-left: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.row-container:last-child hr {
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 1rem;
}

.row-section {
  display: flex;
  align-items: center;
}

.expandable-container {
  max-height: 80vh;
  margin: 0;
  transition: all var(--speed) ease-in-out;
  overflow-y: scroll;
  background-color: var(--gray-dim);
}

.expandable-container::-webkit-scrollbar {
  display: none;
}

.text-title {
  font-size: 1.5rem;
  margin-left: 1rem;
  max-width: 40vw;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.border {
  border: 1px solid var(--hr);
}

.text {
  font-size: 1rem;
  color: var(--text);
}

.margin-v {
  margin: 1rem 0;
}

.margin {
  margin: 1rem;
}

@media only screen and (max-width: 799px) {
  .navbar {
    background: var(--bg-nav);
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .container {
    width: 100%;
    min-width: 0;
    padding-bottom: 5rem;
  }
  .container-sm {
    transform: none;
    margin: auto 1rem;
  }
}

@media only screen and (min-width: 800px) {
  main {
    padding-left: 5rem;
  }
  .navbar {
    background: var(--bg-nav);
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar-nav {
    flex-direction: column;
    height: 100%;
  }
  .nav-item:first-child {
    margin-top: 1.5rem;
  }
  .nav-item:last-child {
    margin-bottom: 1.5rem;
  }
  .overlay {
    left: 5rem;
  }
}